@{
    ViewData["Title"] = "Dashboard";
}

<div class="d-flex flex-row">
    <partial name="_PanelPartial"/>

    <div class="container ml-auto mr-auto mb-auto">
        <h1 class="page-title">News Page</h1>
        <button class="btn btn-primary mb-2 mt-1">New Post</button>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="http://placekitten.com/120/120" alt="" />
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">Kim M.</a>
                    <small class="text-muted">12/02/2021 09:15PM</small>
                </div>
                <h2><a class="article-title" href="#">Post Title</a></h2>
                <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad aliquam atque cum debitis dolore eaque, earum eveniet facere fugit magnam maiores omnis placeat voluptatibus! Adipisci, beatae consequatur consequuntur eveniet excepturi fugiat id ipsum laboriosam nemo obcaecati quas repellendus, saepe ullam voluptatem, voluptates. A aliquam commodi consectetur cumque eaque, eum expedita facere harum illo ipsa iste laboriosam magni molestiae nisi, nulla officia pariatur quae quaerat quas quidem quo reprehenderit sequi tempora tempore vel voluptas voluptates? Animi, aspernatur atque consequuntur culpa dicta dolor error hic illum maxime molestias nam nesciunt obcaecati pariatur perferendis possimus quos recusandae tempora velit voluptates voluptatum!</p>
            </div>
        </article>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="http://placekitten.com/120/120" alt="" />
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">Kim M.</a>
                    <small class="text-muted">12/02/2021 09:15PM</small>
                </div>
                <h2><a class="article-title" href="#">Post Title</a></h2>
                <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad aliquam atque cum debitis dolore eaque, earum eveniet facere fugit magnam maiores omnis placeat voluptatibus! Adipisci, beatae consequatur consequuntur eveniet excepturi fugiat id ipsum laboriosam nemo obcaecati quas repellendus, saepe ullam voluptatem, voluptates. A aliquam commodi consectetur cumque eaque, eum expedita facere harum illo ipsa iste laboriosam magni molestiae nisi, nulla officia pariatur quae quaerat quas quidem quo reprehenderit sequi tempora tempore vel voluptas voluptates? Animi, aspernatur atque consequuntur culpa dicta dolor error hic illum maxime molestias nam nesciunt obcaecati pariatur perferendis possimus quos recusandae tempora velit voluptates voluptatum!</p>
            </div>
        </article>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="http://placekitten.com/120/120" alt="" />
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">Kim M.</a>
                    <small class="text-muted">12/02/2021 09:15PM</small>
                </div>
                <h2><a class="article-title" href="#">Post Title</a></h2>
                <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad aliquam atque cum debitis dolore eaque, earum eveniet facere fugit magnam maiores omnis placeat voluptatibus! Adipisci, beatae consequatur consequuntur eveniet excepturi fugiat id ipsum laboriosam nemo obcaecati quas repellendus, saepe ullam voluptatem, voluptates. A aliquam commodi consectetur cumque eaque, eum expedita facere harum illo ipsa iste laboriosam magni molestiae nisi, nulla officia pariatur quae quaerat quas quidem quo reprehenderit sequi tempora tempore vel voluptas voluptates? Animi, aspernatur atque consequuntur culpa dicta dolor error hic illum maxime molestias nam nesciunt obcaecati pariatur perferendis possimus quos recusandae tempora velit voluptates voluptatum!</p>
            </div>
        </article>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="http://placekitten.com/120/120" alt="" />
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">Kim M.</a>
                    <small class="text-muted">12/02/2021 09:15PM</small>
                </div>
                <h2><a class="article-title" href="#">Post Title</a></h2>
                <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad aliquam atque cum debitis dolore eaque, earum eveniet facere fugit magnam maiores omnis placeat voluptatibus! Adipisci, beatae consequatur consequuntur eveniet excepturi fugiat id ipsum laboriosam nemo obcaecati quas repellendus, saepe ullam voluptatem, voluptates. A aliquam commodi consectetur cumque eaque, eum expedita facere harum illo ipsa iste laboriosam magni molestiae nisi, nulla officia pariatur quae quaerat quas quidem quo reprehenderit sequi tempora tempore vel voluptas voluptates? Animi, aspernatur atque consequuntur culpa dicta dolor error hic illum maxime molestias nam nesciunt obcaecati pariatur perferendis possimus quos recusandae tempora velit voluptates voluptatum!</p>
            </div>
        </article>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="http://placekitten.com/120/120" alt="" />
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">Kim M.</a>
                    <small class="text-muted">12/02/2021 09:15PM</small>
                </div>
                <h2><a class="article-title" href="#">Post Title</a></h2>
                <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad aliquam atque cum debitis dolore eaque, earum eveniet facere fugit magnam maiores omnis placeat voluptatibus! Adipisci, beatae consequatur consequuntur eveniet excepturi fugiat id ipsum laboriosam nemo obcaecati quas repellendus, saepe ullam voluptatem, voluptates. A aliquam commodi consectetur cumque eaque, eum expedita facere harum illo ipsa iste laboriosam magni molestiae nisi, nulla officia pariatur quae quaerat quas quidem quo reprehenderit sequi tempora tempore vel voluptas voluptates? Animi, aspernatur atque consequuntur culpa dicta dolor error hic illum maxime molestias nam nesciunt obcaecati pariatur perferendis possimus quos recusandae tempora velit voluptates voluptatum!</p>
            </div>
        </article>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="http://placekitten.com/120/120" alt="" />
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">Kim M.</a>
                    <small class="text-muted">12/02/2021 09:15PM</small>
                </div>
                <h2><a class="article-title" href="#">Post Title</a></h2>
                <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad aliquam atque cum debitis dolore eaque, earum eveniet facere fugit magnam maiores omnis placeat voluptatibus! Adipisci, beatae consequatur consequuntur eveniet excepturi fugiat id ipsum laboriosam nemo obcaecati quas repellendus, saepe ullam voluptatem, voluptates. A aliquam commodi consectetur cumque eaque, eum expedita facere harum illo ipsa iste laboriosam magni molestiae nisi, nulla officia pariatur quae quaerat quas quidem quo reprehenderit sequi tempora tempore vel voluptas voluptates? Animi, aspernatur atque consequuntur culpa dicta dolor error hic illum maxime molestias nam nesciunt obcaecati pariatur perferendis possimus quos recusandae tempora velit voluptates voluptatum!</p>
            </div>
        </article>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="http://placekitten.com/120/120" alt="" />
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">Kim M.</a>
                    <small class="text-muted">12/02/2021 09:15PM</small>
                </div>
                <h2><a class="article-title" href="#">Post Title</a></h2>
                <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad aliquam atque cum debitis dolore eaque, earum eveniet facere fugit magnam maiores omnis placeat voluptatibus! Adipisci, beatae consequatur consequuntur eveniet excepturi fugiat id ipsum laboriosam nemo obcaecati quas repellendus, saepe ullam voluptatem, voluptates. A aliquam commodi consectetur cumque eaque, eum expedita facere harum illo ipsa iste laboriosam magni molestiae nisi, nulla officia pariatur quae quaerat quas quidem quo reprehenderit sequi tempora tempore vel voluptas voluptates? Animi, aspernatur atque consequuntur culpa dicta dolor error hic illum maxime molestias nam nesciunt obcaecati pariatur perferendis possimus quos recusandae tempora velit voluptates voluptatum!</p>
            </div>
        </article>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="http://placekitten.com/120/120" alt="" />
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">Kim M.</a>
                    <small class="text-muted">12/02/2021 09:15PM</small>
                </div>
                <h2><a class="article-title" href="#">Post Title</a></h2>
                <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad aliquam atque cum debitis dolore eaque, earum eveniet facere fugit magnam maiores omnis placeat voluptatibus! Adipisci, beatae consequatur consequuntur eveniet excepturi fugiat id ipsum laboriosam nemo obcaecati quas repellendus, saepe ullam voluptatem, voluptates. A aliquam commodi consectetur cumque eaque, eum expedita facere harum illo ipsa iste laboriosam magni molestiae nisi, nulla officia pariatur quae quaerat quas quidem quo reprehenderit sequi tempora tempore vel voluptas voluptates? Animi, aspernatur atque consequuntur culpa dicta dolor error hic illum maxime molestias nam nesciunt obcaecati pariatur perferendis possimus quos recusandae tempora velit voluptates voluptatum!</p>
            </div>
        </article>
        
    </div>    
</div>