@model IEnumerable<SchoolBackOffice.Domain.Entities.StaffUser>

@using SchoolBackOffice.Views.Shared.Component
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Staff Roster";
}

<div class="d-flex flex-row">
    <partial name="_PanelPartial"/>

    <div class="container ml-auto mr-auto mb-auto">
        <h1 class="page-title">Staff Roster</h1>
        <input type="button" 
               class="btn btn-primary mb-2 mt-1" 
               value="Add Staff Member" 
               onclick="location.href='@Url.Action("Create", "Staff")'" />
        <component type="typeof(StaffRoster)" render-mode="ServerPrerendered" param-Staff="@Model"/>
    </div>    
</div>