@using SchoolBackOffice.Views.Shared.Component
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Staff Roster";
}

<div class="d-flex flex-row">
    <partial name="_PanelPartial"/>

    <div class="container ml-auto mr-auto mb-auto">
        <h1 class="page-title">Staff Roster</h1>
        <component type="typeof(StaffRoster)" render-mode="ServerPrerendered"/>
    </div>    
</div>