@{
    ViewData["Title"] = "Dashboard";
}

<div style="display: flex; flex-direction: row">
    <partial name="_PanelPartial"/>

    <div style="margin-left: 20px">
        <h3>News Page</h3>
        <button class="btn btn-primary">New Post</button>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut omnis voluptas? At atque autem blanditiis cum ducimus earum in magni nesciunt, sint, suscipit ut veniam. Aut commodi delectus, dolorem et eum labore laboriosam laborum magnam molestias mollitia neque quisquam quo quod, quos repellat soluta ullam. Aliquam amet autem commodi consectetur cupiditate deleniti ducimus ea, eligendi, eum ex in ipsum maiores minus nihil officia praesentium quas quia quidem quo quod rerum saepe tempora, tempore totam unde ut vero vitae. Ad at autem consectetur earum magni minima officiis suscipit! Blanditiis commodi distinctio ducimus est, expedita incidunt ipsa nobis reiciendis repudiandae vero!</p>
    </div>    
</div>


