@using SchoolBackOffice.Infrastructure.Identity
<div class="flex-row m-auto w-100">
    @foreach (var s in Staff)
    {
        <RadzenCard class="m-3">
            <h3 class="h5">Staff</h3>
            <div class="d-flex flex-row">
                <RadzenImage Path="http://placekitten.com/120/120" Class="rounded-circle float-left mr-3" Style="width: 100px; height: 100px;"/>
                <div>
                    <div>Employee</div>
                    <b>@s.FirstName</b>
                    <b>@s.LastName</b>
                    <div class="mt-3">Position</div>
                    <b>Director</b>
                </div>
            </div>
        </RadzenCard>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<ApplicationUser> Staff { get; set; }
}